@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff; 
}

header{
    background-color: rgba(110, 83, 204, 0.623);
    padding: 1em;
    text-align: center;
    display: flex;
}

nav{
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.conteiner{
    display: flex;
    flex-direction: row;
}

.filho{
    padding: 5px;
}

.tudo{
    display: flex;
}

.esquerda{
    width: 50%;
    padding: 10px;
    background-color: white;
    flex: auto;
    flex-wrap: wrap;
    height: 100%;
    
}

.direita{
    height: auto;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    flex: auto;
    justify-content: center;
    align-items: center;
    border-left: 1px solid gray;
}

.produto{
    width: 100%;
    height: 5%;
}

.p1{
    display: none;
    
}

.p2{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.opt{
    display: flex;
    padding: 5px;
    width: 100%;
    height: auto;
    gap: 5px;
}

.qntd{
    padding: 5px;
    width: 100%;
}

.qntd_1{
    width: 50%;
}

.tax{
    padding: 5px;
    width: 100%;
}

.tax_1{
    width: 25%;
}

.price{
    padding: 5px;
    width: 100%;
}

.price_1{
    width: 25%;
}

.botao{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 5%;
}

.b_botao{
    background-color: rgba(110, 83, 204, 0.623);
    height: 25px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    transition-duration: 0.4s;
}

.b_botao:hover{
    background-color: rgba(61, 46, 114, 0.623);
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid gray;
}

.bd{
    border-right: 1px solid gray;
}

.prices {
    border-bottom: none;
}

.t1{
    width: 1000px;
    text-align: start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.t2{
    width: 8%;
    text-align: start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.t3{
    width: 8%;
    text-align: start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.t4{
    width: 8%;
    text-align: start;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-right: none;
}
.t_conteudo{
    color: rgb(104, 102, 102);
}

.b_final{
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 15px;
    padding-top: 25px;
}

.b_cancel{
    height: 25px;
    width: 20%;
    background-color: rgb(196, 195, 195);
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 17px;
    transition-duration: 0.4s;
}

.b_cancel:hover{
    background-color: rgba(61, 46, 114, 0.623);
}

.b_finish{
    height: 25px;
    width: 20%;
    background-color: rgba(110, 83, 204, 0.623);
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.4s;
}

.b_finish:hover{
    background-color: rgba(61, 46, 114, 0.623);
}

.esp{
    height: 600px;
}

.tt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 85%;
    padding-top: 20px;
}

.tax1{
    padding-right: 31px;
    font-weight: bold;
}

.total1{
    padding-right: 21px;
    font-weight: bold;
}

.f_tax{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 71px;
    border: none;
    background-color: #ffffff;
}

.f_total{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 71px;
    border: none;
    background-color: #ffffff
}